

.{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.container{
    max-width: 1280px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
   padding: 6px;
}

.search-parent{
    position: relative;
    color: #BABABA;
    

}
.search-parent input{
   background-color: rgb(241, 241, 241);
   width: 500px;
   padding: 15px 30px;
   border-radius: 66px;
   border: none; 
}
.search-parent i{
    position: absolute;
   top: 17px; 
   right: 12px;
  
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
 .nav-items li a{
    text-decoration: none;
    color: #707070;
    font-weight: 500px;
    font-size: 16px;
 }

 /* banner */
 .banner{
    background: rgb(254, 234, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 20px 0;
    border-radius: 5px;
    
 }
 .banner img{
    width: 402px;
   height: 378px;
 }
 .banner-h2{
    color: rgb(31, 31, 31);
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
 }
 .banner-p{
    color: rgb(78, 78, 78);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
 }
 .banner-price{
    color: #FF136F;
    font-size: 41px;
  font-weight: 700;
  display: block;
  margin-bottom: 0px;
 }
 .primary-btn{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    border-radius:6px ;
    color: rgb(255,255,255);
    font-size: 16px;
   width: 500;
   border: none;
   padding: 10px 20px;
   font-weight: bold;
 }
 .categories-card{
   background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4px;
   padding: 10px;
   border-radius: 10px;

 }
 .categories-card h2{
   font-size: 30px;
   color: azure;
   font-weight: bold;
 }
 .categories-card-container{
   display: flex;
   justify-content: space-between;
 }